
$mainColor: #B2333E;
$darkColor: #000;
$clearColor: #F3F3F3;
$whiteColor: #fff;
$interactionColor: #A3A3A3;


$basicFont: 'Roboto', sans-serif;
$thinFont: 'Roboto-thin', sans-serif;
$fontBlur:7px 7px 8px $darkColor;

$h2Size: 2rem;
$textSize: 1.2rem;

$titleHighlight: 1px solid $mainColor;
$alternativeHighlight: 1px solid $whiteColor;