.band-status {
	background: url(../../images/lasrobertas-band.jpg)no-repeat center center;
	background-size: cover;
	float: left;
	margin-left: 2%;
	padding-top: 500px;
	width: 600px;
	
	

	div {
		background-color: rgba(178,51,62,0.6);
		padding: 1%;

		span {
			color: $whiteColor;
			font-family: $thinFont;
			font-size: $textSize;
			display: block;
		}
	}
}

.breef {
    float: left;
    margin: 0 2%;
    width: 30%;

	p{
		color: #fff;
    	font-family: "Roboto", sans-serif;

	}
}